<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KayouyouFirstSwiftCase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF89CDA31CA648B7005E810F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF89CDBA1CA648B7005E810F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF89CDC51CA648B7005E810F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
